starlette
fastapi
httpx
logger
poetry
python-dotenv
pytest
pydantic
python-jose[cryptography]
python-multipart
psycopg2-binary
sqlmodel
sqlalchemy
schedule
uvicorn[standard]
python-dateutil
pandas[excel]
websockets
redis
cvss
